/* :root {
} */

.title {
  margin-top: 20px;
}

nav a:hover {
  color: var(--hover-color-change);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: 0.3s;
}
nav.nav {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}
margin-top-20px {
  margin-top: 40px;
}
.lockup {
  max-width: 90ch;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}
h1.title {
  display: flex;
  /* justify-content: center; */
}
p {
  line-height: var(--font-line-height);
}
.nav li {
  /* padding: 10px 15px; */
  text-transform: uppercase;
  text-align: center;
  /* display: block; */
}
/* .main-nav {
  margin-top: 20px;
  display: flex;
  margin: auto;
  line-height: 10px;
} */
.main-nav li {
  list-style-type: none;
}
/* .main-nav a {
} */

.main-nav {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-family: var(--font-mono);
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.main-nav a {
  color: #9735ea;
  font-size: 0.99em;
  text-decoration: none;
  padding: 10px 15px;
}
.formwidth {
  width: 768px;
}

button.advanced-search:after {
  display: inline-block;
  -webkit-transform: scale(0.5, 1); /* Safari and Chrome */
  -moz-transform: scale(0.5, 1); /* Firefox */
  -ms-transform: scale(0.5, 1); /* IE 9 */
  -o-transform: scale(0.5, 1); /* Opera */
  transform: scale(0.5, 1); /* W3C */
  content: ">";
  position: relative;
  margin-left: 5px;
}
.form-label {
  font-weight: 600;
}

@media (max-width: 700px) {
  .main-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  label#a-search {
    margin-top: 5px;
    width: 100%;
  }
}
.dropdown-s {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.content {
  width: 800px;
}
.selected-inputs {
  display: block;
  margin-top: 10px;
}

/* collpase-expand */
.collapse-button {
  width: 200px;
  height: 32px;
  /* padding: 10px 10px 0 10px; */
  display: flex;

  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
}

.collapse-content {
  border: solid 2px grey;
  margin-top: 1em;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.collapse-content.collapsed {
  width: 500px;
}

.collapse-content.expanded {
  width: 945px;
}
